version: '3.8'

services:
  odoo-db:
    image: postgres:15
    container_name: gold_odoo_db
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  odoo:
    image: odoo:17
    container_name: gold_odoo
    depends_on:
      - odoo-db
    environment:
      HOST: odoo-db
      PORT: 5432
      USER: odoo
      PASSWORD: odoo
    volumes:
      - odoo-data:/var/lib/odoo
      - ./odoo.conf:/etc/odoo/odoo.conf:ro
    ports:
      - "8069:8069"
    restart: unless-stopped

volumes:
  odoo-db-data:
  odoo-data:
